<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gogogo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="고고고"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ingredient.Recipe"
            android:exported="true" />
        <activity
            android:name=".ingredient.Recommend_recipe"
            android:exported="true" />
        <activity
            android:name=".storeInfo.StoreDetail"
            android:exported="true" />
        <activity
            android:name=".community.Community_update1"
            android:exported="true" />
        <activity
            android:name=".community.Community_insert1"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".fragment.fragment1" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".ingredient.Ingredient_add"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".storeInfo.StoreRecommend" />

        <activity android:name=".survey.SurveyMeal"/>
        <activity android:name=".survey.SurveyDessertGood"/>
        <activity android:name=".survey.SurveyDessertBad"/>
        <activity android:name=".survey.SurveyDessertDepressed"/>
        <activity android:name=".survey.SurveyDessertAngry"/>
        <activity android:name=".survey.SurveyDessertSad"/>
        <activity android:name=".survey.SurveyDessert"/>
        <activity android:name=".survey.SurveyStart"/>
    </application>

</manifest>