<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gogogo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="고고고"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".message.MessageMain"
            android:exported="true" />
        <activity
            android:name=".community.PostingActivity"
            android:exported="true" />
        <activity
            android:name=".login.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".memo.UpdateActivity"
            android:exported="true" />
        <activity
            android:name=".memo.InsertActivity"
            android:exported="true" />
        <activity
            android:name=".my_note"
            android:exported="true" />
        <activity
            android:name=".my_location"
            android:exported="true" />
        <activity
            android:name=".Cook_Yes"
            android:exported="true" />
        <activity
            android:name=".Cook_No"
            android:exported="true" />
        <activity
            android:name=".Recipe_all"
            android:exported="true" />
        <activity
            android:name=".ingredient.Recipe"
            android:exported="true" />
        <activity
            android:name=".ingredient.Recommend_recipe"
            android:exported="true" />
        <activity
            android:name=".storeInfo.StoreDetail"
            android:exported="true" />
        <activity
            android:name=".storeInfo.DeliveryDetail"
            android:exported="true" />
        <activity
            android:name=".community.Community_update1"
            android:exported="true" />
        <activity
            android:name=".community.Community_insert1"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".fragment.fragment1" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".ingredient.Ingredient_add"
            android:exported="true" /> <!-- .MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- android:windowSoftInputMode="adjustPan"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".storeInfo.StoreRecommend" />
        <activity android:name=".survey.SurveyMeal" />
        <activity android:name=".survey.SurveyDessertGood" />
        <activity android:name=".survey.SurveyDessertBad" />
        <activity android:name=".survey.SurveyDessertDepressed" />
        <activity android:name=".survey.SurveyDessertAngry" />
        <activity android:name=".survey.SurveyDessertSad" />
        <activity android:name=".survey.SurveyDessert" />
        <activity android:name=".survey.SurveyStart2" />
        <activity android:name=".survey.SurveyStart" />
        <activity android:name=".survey.SurveyMealMeat" />
        <activity android:name=".Roulette" />
        <activity android:name=".survey.SurveyMealFish" />
        <activity android:name=".survey.SurveyMealElse" />
        <activity android:name=".survey.SurveyDessertDepressed2" />
        <activity android:name=".survey.SurveyDessertSad2" />
        <activity android:name=".message.talking" />
    </application>

</manifest>